*{
    font-family: Shabnam;
    text-align: right;
    direction: rtl;
}

.body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content{
    flex: 1;
}
.input-radius {
    text-align: center;
    width: 100%;
    margin: 10px 0;
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 10px;
}
.input-block{
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
}
.float-left{
    float: left;
}
.text-left{
    text-align: left;
}
.margin-bottom{
    margin-bottom: 30px;
}
.description{
    margin:30px 0;
}
.title-box{

    background-color: rgba(0,0,0, 0.2);

}


span.title{
    height: 0px;
    margin-bottom: 10px;
}

footer.container-fluid {
    padding:50px 150px 40px 150px;
    margin-top:100px;
    left: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128,0.1)
}

.content-container{
    margin: 70px 0 50px 0;
}

#vote-view .input[type=radio]{
    margin-left: 5px;
}

#vote-view .poll-title, #managePolls-view .poll-title{
    padding: 10px 0 0px 0;
}
#vote-view .poll-info, #managePolls-view .poll-info{
    padding: 20px 0 30px 0;
}

.card-body{
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-body a{
    text-decoration: none;
    color: black;
}
a.card-body.line{
    padding: 0;
}

div.card.h-100.poll-box{
    border-color:rgba(137, 154, 99,0.5) ;
    margin-bottom: 25px;
}

.sage-color {
    color:rgb(137, 154, 99) ;
}

.comment-box{
    margin-bottom: 20px;
    border-radius: 5px;
    border : 1px solid rgba(137, 154, 99,0.1);
}

.comment-text-box{
    margin: 10px 0 25px 0;
    font-size: 14px;
    height:100px;
    overflow:auto;
}

.reply-box{
    border-top:  1px solid rgba(137, 154, 99,0.1);
    padding:25px 15% 25px 2%;
    font-size: 12px;
}

.add-reply-box {
    margin: 25px 15% 20px 2%;
    height: 100px;
    width: 80%;
    box-sizing: border-box;
}

.sage-button{
    background-color: rgba(137, 154, 99,0.5);
    border:1px solid rgba(137, 154, 99,0.8);
    border-radius:5px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(137, 154, 99,0.5);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(137, 154, 99,0.5);
}
.f12{
    font-size: 12px;
}

.text-area{
    margin: 2%;
}

#reply-text{
    white-space: nowrap;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #747d7b;
    font-size:14px;
    margin-right:65px;
}