*{
    font-family: Shabnam;
    text-align: right;
    direction: rtl;
}

.body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content{
    flex: 1;
}
.input-radius {
    text-align: center;
    width: 100%;
    margin: 10px 0;
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 10px;
}
.input-block{

    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
}
.float-left{
    float: left;
}
.margin-bottom{
    margin-bottom: 30px;
}
.description{
    margin:30px 0;
}
.title-box{

    background-color: rgba(0,0,0, 0.2);

}


span.title{
    height: 0px;
    margin-bottom: 10px;
}

footer {
    padding:50px 0 20px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128,0.1)
}

.content-container{
    margin: 70px 0 50px 0;
}

#vote-view .input[type=radio]{
    margin-left: 5px;
}

#vote-view, #managePolls-view .poll-title{
    padding: 10px 0 0px 0;
}
#vote-view, #managePolls-view .poll-info{
    padding: 20px 0 30px 0;
}

.card-body{
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-body a{
    text-decoration: none;
    color: black;
}
a.card-body.line{
    padding: 0;
}

div.card.h-100.poll-box{
    border-color:rgba(137, 154, 99,0.5) ;
    margin-bottom: 25px;
}